<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a routerLink="" href="#">Home</a></li>
        <li role="presentation"><a routerLink="messages" href="#">Messages</a></li>
        <li role="presentation"><a routerLink="photos" href="#">Photos</a></li>
      </ul>
    </div>
  </div>

</nav>
<div class="container">
  <h1>
    {{title}}
  </h1>
  <router-outlet></router-outlet>
</div>